<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Enter your description here"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <title>Sheldon's Person Keeper | {{ title }}</title>
    </head>
    <body>
        <div class="row bg-dark pt-5">
            <h1 class="text-center text-white">Sheldon's Favorite Movies </h1>
        </div>

        <nav class="nav bg-dark d-flex justify-content-around pb-3">
            <a href="{{ url_for('index') }}" class="link-light">Home</a>
            <a href="{{ url_for('phonebook') }}" class="link-light">Phone Book</a>
            <a href="{{ url_for('favorites') }}" class="link-light">Favorites</a>
         
        </nav> -->
{% extends 'base.html' %}        

        <div class="container p-5">
           {% block content %}
            <h1 class="text-center">WELCOME <a href="{{ url_for('favorites') }}" class="link-dark">CLICK HERE</a> TO GO TO MY FAVORITE MOVIES</h1>
           {% endblock content %}
        </div>

        

        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    </body>
</html> -->