{% extends 'base.html' %}


{% block content %}
    <h1>Log In</h1>
    <form method="post">
        {{ form.csrf_token }}
        <div class="form-group">

            {{ form.username.label }}
            {{ form.username(class='form-control', placeholder='Username') }}

            {{ form.password.label }}
            {{ form.password(class='form-control', placeholder='Password') }}

            {{ form.submit(class='btn btn-dark w-100') }}

          
        </div>
    </form>
{% endblock content %} 